/*
 * Copyright (c) 2022 The ZMK Contributors
 * ok
 * SPDX-License-Identifier: MIT
 */

// ZMK Core Includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layers
#define L1 0
#define L2 1
#define Fn 2
#define Game 3

// Meh key
#define MEH LS(LC(LALT))

// Behaviors Constants
#define TAPPING_TERM_MS 800
#define QUICK_TAP_MS 175
#define GLOBAL_QUICK_TAP_MS 150

// Combos Constants
#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

#include "behaviors.dtsi"
#include "macros.dtsi"
#include "combos.dtsi"

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#define DEF 0;
#define UPE 1;
#define MSC 2;
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 5

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors/mouse_move.dtsi>


&sensors { triggers-per-rotation = <12>; };
&msc { acceleration-exponent = <1>; };

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_1 {
            label = "L1";
            bindings = <
        // ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //  0               1               2               3               4               5                                                   6               7               8               9               10              11
            &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                              &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp GRAVE
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  12              13              14              15              16              17                                                  18              19              20              21              22              23
            &to Fn          &kp Q           &kp W           &kp E           &kp R           &kp T                                               &kp Y           &kp U           &kp I           &kp O           &kp P           &csl Fn 
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  24              25              26              27              28              29                                                  30              31              32              33              34              35
            &bkspc_del      &kp A           &kp S           &kp D           &kp F           &kp G                                               &kp H           &kp J           &kp K           &kp L           &kp SQT         &kp RSHFT
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  36              37              38              39              40              41              42                  43              44              45              46              47              48              49
            &kp LCTRL       &mt LCTRL Z     &mt LALT X      &mt LGUI C      &mt TAB V       &kp B           &kp LBKT            &kp RBKT        &kp N           &mt TAB M       &mt RGUI COMMA  &mt RALT DOT    &mt RCTRL SLASH &kp RCTRL
        // ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                  50              51              52              53                   54             55              56              57
                                                            &kp LGUI        &kp ENTER       &mt LSHIFT SPACE &cmo L2             &cmo L2        &bkspc_del     &kp RSHFT        &kp TAB
        //                                                 ╰───────────────┴───────────────┴───────────────┴───────────────╯   ╰──────────────┴───────────────┴───────────────┴───────────────╯77
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        layer_2 {
            label = "L2";
            bindings = <
        // ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //  0               1               2               3               4               5                                                   6               7               8               9               10              11
            &trans          &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                                        &bt BT_CLR      &trans          &trans          &trans          &trans          &tog 3
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  12              13              14              15              16              17                                                  18              19              20              21              22              23
            &trans          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                              &kp C_PREV      &kp C_VOL_DN    &kp C_VOL_UP    &kp C_NEXT      &kp C_MUTE      &trans
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  24              25              26              27              28              29                                                  30              31              32              33              34              35
            &trans          &kp N6          &kp N7          &kp N8          &kp N9          &kp N0                                              &trans          &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  36              37              38              39              40              41              42                  43              44              45              46              47              48              49
            &trans          &sk LCTRL       &sk LALT        &sk LCMD        &kp TAB         &trans          &out OUT_TOG        &trans          &trans          &kp TAB         &trans          &trans          &trans          &trans
        // ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                  50              51              52              53                   54             55              56              57
                                                            &trans          &trans          &trans          &cmo L2              &cmo L2        &trans          &trans          &trans
        //                                                 ╰───────────────┴───────────────┴───────────────┴───────────────╯   ╰──────────────┴───────────────┴───────────────┴───────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            label = "Fn";
            bindings = <
        // ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //  0               1               2               3               4               5                                                   6               7               8               9               10              11
            &trans &kp LA(LC(LG(NUMBER_2))) &kp LA(LC(LG(NUMBER_3)))    &trans     &trans     &trans                                            &trans          &trans          &trans          &trans          &trans          &trans
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  12              13              14              15              16              17                                                  18              19              20              21              22              23
            &cmo 2          &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP    &msc SCRL_RIGHT &trans                                              &kp F1          &kp F2          &kp F3          &kp F4          &kp F5          &cmo 2
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  24              25              26              27              28              29                                                  30              31              32              33              34              35
            &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP    &mmv MOVE_RIGHT &trans                                              &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &trans
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  36              37              38              39              40              41              42                  43              44              45              46              47              48              49
            &out OUT_TOG    &trans          &trans          &trans          &trans          &trans          &trans              &trans          &kp F11         &kp F12         &trans          &trans          &trans          &trans
        // ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                  50              51              52              53                   54             55              56              57
                                                            &mkp MCLK       &mkp RCLK       &mkp LCLK       &cmo L2              &cmo L2        &trans          &kp CAPSLOCK    &trans          
        //                                                 ╰───────────────┴───────────────┴───────────────┴───────────────╯   ╰──────────────┴───────────────┴───────────────┴───────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        layer_4 {
            label = "Game";
            bindings = <
        // ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        //  0               1               2               3               4               5                                                   6               7               8               9               10              11
            &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                              &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &cmo 3
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  12              13              14              15              16              17                                                  18              19              20              21              22              23
            &kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T                                               &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BACKSLASH
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                                  ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  24              25              26              27              28              29                                                  30              31              32              33              34              35
            &kp LCTRL       &kp A           &kp S           &kp D           &kp F           &kp G                                               &kp H           &kp J           &kp K           &kp L           &kp SQT         &kp ENTER
        // ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        //  36              37              38              39              40              41              42                  43              44              45              46              47              48              49
            &kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B           &kp LGUI            &kp RBKT        &kp N           &kp M           &kp COMMA       &kp DOT         &kp SLASH       &kp RSHFT
        // ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤───────────────┤   ├──────────────├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
        //                                                  50              51              52              53                   54             55              56              57
                                                            &kp LALT        &kp ENTER       &mt LSHFT SPACE &kp SPACE            &cmo L2        &bkspc_del     &kp RSHFT    &kp DEL
        //                                                 ╰───────────────┴───────────────┴───────────────┴───────────────╯   ╰──────────────┴───────────────┴───────────────┴───────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};